<div class="switcher">
  <a class="link"><i class="icon-cogs"></i></a>
  <h5>Theme Colors</h5>
  <ul class="themeColors">
    <li><a href="#" class="aqua"></a></li>
    <li><a href="#" class="blue"></a></li>
    <li><a href="#" class="brown"></a></li>
    <li><a href="#" class="green"></a></li>
    <li><a href="#" class="orange"></a></li>
    <li><a href="#" class="red"></a></li>
    <li><a href="#" class="yellow"></a></li>
  </ul>
  
  <h5>Layout Style</h5>
  <select class="layout-style">
    <option value="wide">wide</option>
    <option value="boxed">boxed</option>
  </select>

  <h5>Background Pattern</h5>
  <ul class="backgroundSwitcher">
    <li><a href="#" class="bg-pattern-45degreee_fabric"></a></li>
    <li><a href="#" class="bg-pattern-agsquare"></a></li>
    <li><a href="#" class="bg-pattern-asfalt"></a></li>
    <li><a href="#" class="bg-pattern-bedge_grunge"></a></li>
    <li><a href="#" class="bg-pattern-billie_holiday"></a></li>
    <li><a href="#" class="bg-pattern-binding_dark"></a></li>
    <li><a href="#" class="bg-pattern-binding_light"></a></li>
    <li><a href="#" class="bg-pattern-black_linen"></a></li>
    <li><a href="#" class="bg-pattern-blackorchid"></a></li>
    <li><a href="#" class="bg-pattern-brickwall"></a></li>
    <li><a href="#" class="bg-pattern-bright_squares"></a></li>
    <li><a href="#" class="bg-pattern-brillant"></a></li>
    <li><a href="#" class="bg-pattern-brushed_alu_dark"></a></li>
    <li><a href="#" class="bg-pattern-carbon_fibre_big"></a></li>
    <li><a href="#" class="bg-pattern-cardboard_flat"></a></li>
    <li><a href="#" class="bg-pattern-cartographer"></a></li>
    <li><a href="#" class="bg-pattern-chruch"></a></li>
    <li><a href="#" class="bg-pattern-climpek"></a></li>
    <li><a href="#" class="bg-pattern-concrete_wall_3"></a></li>
    <li><a href="#" class="bg-pattern-brushed_alu"></a></li>
    <li><a href="#" class="bg-pattern-cream_pixels"></a></li>
    <li><a href="#" class="bg-pattern-crisp_paper_ruffles"></a></li>
    <li><a href="#" class="bg-pattern-cross_scratches"></a></li>
    <li><a href="#" class="bg-pattern-crossed_stripes"></a></li>
    <li><a href="#" class="bg-pattern-dark_dotted"></a></li>
    <li><a href="#" class="bg-pattern-dark_dotted2"></a></li>
    <li><a href="#" class="bg-pattern-dark_fish_skin"></a></li>
    <li><a href="#" class="bg-pattern-dark_geometric"></a></li>
    <li><a href="#" class="bg-pattern-dark_mosaic"></a></li>
    <li><a href="#" class="bg-pattern-dark_wood"></a></li>
  </ul>

</div>